// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./components/dividers.scss";
@import "./components/navbar.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";

// Custom
.bg-rosa {
    background-color: $bs-body-bg;
    color: white;
}

form {
    color:black;
}

.main-text {
    text-align: justify;
}

.chakraaufzählung {
    font-size: 25px;
    justify-content: center;
    
}
.kaushan {
    font-family: 'Kaushan Script', sans-serif;
}
p {
    text-align: justify;
}
h1,h2,h3,h4 {
    text-align: center;
}

@media screen {
    
}
body {
    font-size: 14px;
}
@media (min-width: 544px) {  
    body {
        font-size: 16px;
    }

}

   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    body {
        font-size: 18px;
    }
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    body {
        font-size: 20px;
    }
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    body {
        font-size: 22px;
    }
  }


