// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./components/dividers.scss";
@import "./components/navbar.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";

// Custom
.bg-rosa {
    background-color: $bs-body-bg;
    color: white;
}

form {
    color:black;
}
h1,h2,h3,h4 {
    font-family: 'Kaushan Script', serif;
}
.kaushan {
    font-family: 'Kaushan Script', serif;
}

.taj {
    text-align: justify;
}

.chakraaufzählung {
    font-size: 25px;
    justify-content: center;
    
}
