
h1,h2,h3,h4 {
    font-family: 'Kaushan Script', serif;
}
.kaushan {
    font-family: 'Kaushan Script', serif;
}

p {
    text-align: justify;
}
.chakraaufzählung {
    font-size: 25px;
    justify-content: center;
    
}
